.Basic{
    background-color: #F7CAC9;
    height: 100vh;
    overflow-y: scroll;
}

.Taiwo{
    
    
    display: flex;
    gap: 20px;
    
}

.head{
    color: yellow;
}

.split{
    display: flex;
    gap: 20px;
    margin: 20%;
}

@media (max-width: 768px) {
    .Basic{
        display: flex;
        flex-wrap: wrap;
    }

    .split{
        display: grid;
        
        margin: 2%;
    }
  }
  