.header {
    background-color: darkmagenta;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    color: aliceblue;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .nav-item:nth-child(1) {
    transition-delay: 0.1s;
  }
  
  .nav-item:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .nav-item.show {
    opacity: 1;
    transform: translateY(0);
  }
  